/* Reset */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,dfn,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}

html,
body {
  height: 100%;
  background-color: #000;
}

#outer{
 width:100%;

 /* Firefox */
 display:-moz-box;
 -moz-box-pack:center;
 -moz-box-align:center;

 /* Safari and Chrome */
 display:-webkit-box;
 -webkit-box-pack:center;
 -webkit-box-align:center;

 /* W3C */
 display:box;
 box-pack:center;
 box-align:center;
}
#inner{
 width:25%;
}

body{
margin:0;
padding:0;
color: #fff;
text-align: center;
/* background: url(../images/bg.jpg) left top no-repeat; */
background-color: #fff
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
box-shadow: inset 0 0 100px rgba(0,0,0,0.5);
position: relative;
}

.black{
background-color: rgba(0, 0, 0, 0.5);
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

#wrapper{
	position: relative;
	width: 100%;
	margin: auto;
}

#header{
	width: 100%;
	padding: 15px 0 0 0;
	margin: auto;
}

h1{
	font-family: 'Damion', cursive;
	font-size: 103px;
}

h2{
	font-family: 'Josefin Sans', sans-serif;
	font-size: 30px;
	letter-spacing: 4px;
}

h2 strong.sep-one{
	width: 60px;
	height: 1px;
	background: #fff;
	position: absolute;
	margin-left: -80px;
	margin-top: 15px;
}

h2 strong.sep-two{
	width: 60px;
	height: 1px;
	background: #fff;
	position: absolute;
	margin-left: 15px;
	margin-top: 15px;
}


#middle{
	width: 100%;
	background: #ffffff;
	padding: 10px 0;
	margin: 50px 0;
}

#middle p{
	font-family: 'Josefin Sans', sans-serif;
	font-size: 24px;
	color: #000000;
	line-height: 34px;
	padding: 0 30%;
}

#middle p span{
	color:#e63b4d;
}

#footer{
	width: 100%;
}

ul.social
{
width: 242px;
margin: 80px auto 0;
height: 62px;
}

ul.social li{
float: left;
background: url(../images/social.png) left top no-repeat;
position: relative;
height: 62px;
margin-right: 28px;
}

ul.social li a{
display: block;
width: 62px;
height: 62px;
}


ul.social li.facebook{
height: 62px;
background-position: 0 0;
width: 62px;
}

ul.social li.facebook:hover{
background-position: 0 -62px;
}



ul.social li.twitter{
height: 62px;
background-position: -90px 0;
width: 62px;
}

ul.social li.twitter:hover{
background-position: -90px -62px;
}



ul.social li.youtube{
margin-right: 0;
height: 62px;
background-position: -180px 0;
width: 62px;
}

ul.social li.youtube:hover{
background-position: -180px -62px;
}


@media screen and (max-width: 568px){
	#header{
		width: 100%;
		padding: 30px 0 30px 0;
		margin: auto;
	}


	h1{
		font-size: 53px;
	}
	
	h2{
		
		font-size: 15px;
		letter-spacing: 2px;
	}

	h2 strong.sep-one{
		width: 30px;
		margin-left: -40px;
		margin-top: 7px;
	}
	
	h2 strong.sep-two{
		width: 30px;
		margin-left: 10px;
		margin-top: 7px;
	}

	#middle{
		margin: 50px 0 20px 0;
		width: 90%;
		padding: 5%;
	}
	
	#middle p{
		font-size: 18px;
		color: #000000;
		line-height: 24px;
		padding: 0;
	}
	
	#middle p span{
		color:#e63b4d;
	}

/* OVERLAY */

.header-unit {
	height: 763px;
	border: 2px solid #000;
	border-right: none;
	border-left: none;
	position: relative;
	padding: 0px;
}

#video-container {
	top: 263px;
	height: 100%;
	width: 100%;
	overflow: hidden;
	position: absolute;
	z-index: 100000;
}

video {
	position: absolute;
}

video.fillWidth {
	width: 100%;
}

#video-overlay {
	top: 263px;
	position: relative;
	z-index: 1;
	width: 900px;
	height: 563px;
	background: #333;
}

/* HOTSPOT */
#video_box{
	position:relative;
	width:500px;
}

#hotspot {
	position:absolute;
	z-index:300000;
	border:2px solid;
	border-color:#0f6;
	border-radius:25px;
}

#hotspot:hover {
	background-color:rgba(0,255,0,0.3);
	border:4px solid;
	border-color:#0f0;
	cursor:pointer;
}
}